.about_me {


  border-right: 80px;
  border-left: 80px;

  border-top: 50px;
  border-style: solid;
  border-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;


}

#about_me {


  border-right: 200px;
  border-left: 200px;
  border-bottom: 200px;
  border-top: 20px;
  border-style: solid;
  border-color: #efefef;

}



#about_me_color {
  color: #4aaaa5;
  font-size: 30px;


}


#active {
  float: left;
  position: absolute;
  left: 6%;

}



.nav {
  overflow: hidden;
  background-color: #ffffff;
  right: 20%;

}

.nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 30px;
  color: #b8b5b2;
  font-size: 20px;
}




.nav a#active {
  background-color: #4aaaa5;
  color: #ffffff;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.body2 {
  border-right: 50px;
  border-left: 50px;
  border-bottom: 50px;
  border-top: 50px;
  border-style: solid;
  border-color: #efefef;


}



#copyright {
  text-align: center;
  border-bottom: 0%;


}




#contact {

  /* border-right: 100px;
 border-left: 100px;
 border-bottom: 150px;
 border-top: 100px;
 border-style: solid;
 border-color: #efefef;
 */

  /* height: 400px; */

  border-right: 20px;
  border-left: 20px;
  border-bottom: 30px;
  border-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;


  border-style: solid;
  border-color: #efefef;
  float: center;

}



#contact_me_color {
  color: #4aaaa5;
  font-size: 30px;
  height: 40px;
  position: relative;
  left: 20px;


  border-right: 20px;
  border-left: 20px;
  border-bottom: 30px;
  border-top: 20px;
  padding-left: 20px;
  padding-right: 20px;


}

.contact_me {


  /* height: 400px;
    
    border-right: 20px;
    border-left: 20px;
    border-bottom: 30px;
    border-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    
    
    border-style: solid;
    border-color: #efefef;
    float: center;
     */
}



#footer {
  background-color: gray;
  height: 50px;
  border-right: 20%;
  border-left: 20%;
  border-bottom: 30%;
  border-top: 30%;
  border-right: 20px;
  border-left: 20px;
  border-bottom: 30px;
  border-top: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  text-align: center;
}



.image_of_myself {
  float: left;
}













img {
  height: 200px;
  width: 200px;
}










.message {
  height: 200px;
}






#mid_section {
  background-color: blue;
  height: 15px;
  position: relative;



}

hr {
  height: 15px;
  background-color: blue;
}

/* .portfolio_me {
   
      
        height: 820px;
        
        
        border-right: 100px;
        border-left: 100px;
        border-bottom: 40px;
        border-top: 20px;
        padding-left: 10px;
        
        
        border-style: solid;
        border-color: #efefef;
        float: center;
        
      } */





.img1 .img1_click a {
  position: relative;

  float: left;
  left: 60px;



}

.img2 .img2_click a {
  float: right;
  position: relative;

  right: 500px;


}

/* .img3  .img3_click {
        position: absolute;
        bottom: 10%;
        float: left;
        left: 120px;  
       
        
      }
    
      .img4  .img4_click {  position: absolute;
                
                right: 500px;
                bottom: 10%;
       
       
      }
    
      .img5 .img5_click {
      
        position: absolute;
        
        bottom: -200px;
        left: 120px;  
       
        
        
      } */


#box {}

.img1_click {
  position: absolute;

}


.img2_click {
  position: absolute;

}

#portfolio_me_color {
  color: #4aaaa5;
  font-size: 30px;
  height: 40px;
  position: relative;
  left: 20px;

}

.portfolio {
  border-right: 80px;
  border-left: 80px;
  border-bottom: 120px;
  border-top: 50px;
  border-style: solid;
  border-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
}

/* .nav {
          float: right;
        }
      */

@function include HTML () {
  var z,
  i,
  elmnt,
  file,
  xhttp;
  /*loop through a collection of all HTML elements:*/
  z=document.getElementsByTagName("*");
  for (i=0;
  i < z.length;

  i++) {
    elmnt=z[i];
    /*search for elements with a certain atrribute:*/
    file=elmnt.getAttribute("w3-include-html");

    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp=new XMLHttpRequest();

      xhttp.onreadystatechange=function() {
        if (this.readyState==4) {
          if (this.status==200) {
            elmnt.innerHTML=this.responseText;
          }

          if (this.status==404) {
            elmnt.innerHTML="Page not found.";
          }

          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }

      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
}

;